@import "./color_schemes/dark";

// For the full list of variables you can override, see:
// https://github.com/just-the-docs/just-the-docs/blob/main/_sass/color_schemes/dark.scss
$body-background-color: #201F47;
$sidebar-color: #201F47;

$link-color: #B9B6F7;
$body-heading-color: #F6F8F9;
$body-text-color: #E4E9ED;

$search-background-color: #272657;
