{%- comment -%}
  Include as: {%- include components/nav.html pages=pages -%}
  Depends on: include.pages.
  Results in: HTML for the navigation panel.
  Includes:
    sorted_pages.html
  Overwrites:
    nav_pages, first_level_pages, second_level_pages, third_level_pages,
    node, children_list, child, grand_children_list, grand_child.
{%- endcomment -%}

{%- assign nav_pages = include.pages
    | where_exp: "item", "item.title != nil"
    | where_exp: "item", "item.nav_exclude != true" -%}

{%- include sorted_pages.html pages = nav_pages -%}

{%- comment -%}
  It might be more efficient to sort the pages at each level separately.
{%- endcomment -%}

{%- assign first_level_pages = sorted_pages
    | where_exp: "item", "item.parent == nil" -%}
{%- assign second_level_pages = sorted_pages
    | where_exp: "item", "item.parent != nil"
    | where_exp: "item", "item.grand_parent == nil" -%}
{%- assign third_level_pages = sorted_pages
    | where_exp: "item", "item.grand_parent != nil" -%}

{%- comment -%}
PUL override: Based on and replaces the sidebar navigation in the just the docs theme, to have
a page-level TOC instead of a list of all the pages children. Currently none of
the pages have children, so nothing is actually getting removed, just the page
TOC is getting added
https://github.com/just-the-docs/just-the-docs/blob/7de5f7abe53e832c0ca91b4d2b893aee85065650/_includes/components/nav.html
{%- endcomment -%}

<ul class="nav-list">
{%- for node in first_level_pages -%}
  <li class="nav-list-item">
    <a href="{{ node.url | relative_url }}" class="nav-list-link">{{ node.title }}</a>
    {%- if page.url == node.url -%}
      <!-- <ul class="nav&#45;list"> -->
      <!--   <li class="nav&#45;list&#45;item"><a href="#" class="nav&#45;list&#45;link">Top of page</a></li> -->
      <!-- </ul> -->
      {% include toc.html html=content sanitize=true class="nav-list" item_class="nav-list-item" anchor_class="nav-list-link" h_min=2 h_max=2 %}
    {% endif %}
  </li>
{%- endfor -%}
</ul>
